.submitWrapper {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

.codeName {
    appearance: none;

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    
    padding: 0.5em;

    font-size: inherit;
}

.submitWrapper > *:nth-child(3) {
    width: 60ch;
}

@media (max-width: 480px) {
    .submitWrapper > *:nth-child(3) {
        width: 48ch;
        max-width: 80vw;
    }
}