td.resultText code {
    max-width: 40em;

    display: block;
    overflow-y: auto;
    
    white-space: pre-line;
    font-size: smaller;
}

.hashValue {
    font-weight: bold;
    text-align: center;
}